<div class="company-background container-fluid">
    <h4 class="mb-3 text-center">Company Details</h4>
    <div class="row justify-content-center align-items-center custom-row-spacing">
        <div class="col-md-3">
              <label for="companyType" class="form-label">Company Type</label>
              <input type="text" class="form-control custom-input" id="companyType" placeholder="" value="" required="">
              <div class="invalid-feedback">
                Valid first company is required.
              </div>
            </div>
          

        <div class="col-md-3">
          <label for="postalCode" class="form-label">ZIP/Postal Code</label>
          <input type="text" class="form-control custom-input" id="postalCode" placeholder="" value="" required="">
          <div class="invalid-feedback">
            Valid last name is required.
          </div>
        </div>
        
        <div class="col-md-3">
            <label for="firstAddressLine" class="form-label">Address Line 1</label>
            <input type="text" class="form-control custom-input" id="firstAddressLine" placeholder="" value="" required="">
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>
        </div>

          <div class="row justify-content-center align-items-center custom-row-spacing">
          <div class="col-md-3">
            <label for="companyName" class="form-label">Company Name</label>
            <input type="text" class="form-control custom-input" id="companyName" placeholder="" value="" required="">
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>

          <div class="col-md-3">
            <label for="countryInput" class="form-label">Country</label>
            <input type="text" class="form-control custom-input" id="countryInput" placeholder="" value="" required="">
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>

          <div class="col-md-3">
            <label for="secondAddressLine" class="form-label">Address Line 2</label>
            <input type="text" class="form-control custom-input" id="secondAddressLine" placeholder="" value="" required="">
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>
        </div>

        <div class="row justify-content-center align-items-center custom-row-spacing">
          <div class="col-md-3">
            <label for="dbaNumber" class="form-label">DBA Number</label>
            <input type="text" class="form-control custom-input" id="dbaNumber" placeholder="" value="" required="">
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>

          <div class="col-md-3">
            <label for="stateEntry" class="form-label">State</label>
            <input type="text" class="form-control custom-input" id="stateEntry" placeholder="" value="" required="">
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>

          <div class="col-md-3">
            <label for="insuranceNumber" class="form-label">Insurance Number</label>
            <input type="text" class="form-control custom-input" id="insuranceNumber" placeholder="" value="" required="">
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>
        </div>

        <div class="row justify-content-center align-items-center custom-row-spacing">
        <div class="col-md-3">
            <label for="feinNumber" class="form-label">FEIN Number</label>
            <input type="text" class="form-control custom-input" id="feinNumber" placeholder="" value="" required="">
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>

          <div class="col-md-3">
            <label for="cityEntry" class="form-label">City</label>
            <input type="text" class="form-control custom-input" id="cityEntry" placeholder="" value="" required="">
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>

          <div class="col-md-3">
            <label for="idCustomer" class="form-label">Customer ID</label>
            <input type="text" class="form-control custom-input" id="idCustomer" placeholder="" value="" required="">
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end">
            <button routerLink="/driver-details" class="submit-button btn btn-primary btn-lg" style="margin-right: 183px;" type="submit">CONFIRM</button>
        </div>          
  </div>