<div class="container-fluid">
    <header class="d-flex flex-wrap align-items-center justify-content-between py-3 header-background">
        <a href="/" class="d-flex link-body-emphasis text-decoration-none set-margin-left">
            <img src="assets/img/logo-company.png" width="142" height="37" alt="Bootstrap" />
        </a>        
        <ul class="nav mb-1 justify-content-center mb-md-0">
            <li><a routerLink="/" class="nav-link px-2">Home</a></li>
            <li><a routerLink="/company-details" class="nav-link px-2">Features</a></li>
            <li><a href="#" class="nav-link px-2">Pricing</a></li>
            <li><a href="#" class="nav-link px-2">FAQs</a></li>
            <li><a href="#" class="nav-link px-2">About</a></li>
        </ul>
        <div class="text-end">
            <button type="button" class="btn me-3 btn-outline-primary btn-black">Login</button>
            <button type="button" class="btn me-5 btn-primary btn-black">Sign-up</button> <!-- Added 'me-2' for right margin -->
        </div>
    </header>
</div>
