<div class="company-background container-fluid d-flex flex-column justify-content-center align-items-center min-vh-50">
  <div class="d-flex justify-content-between align-items-center w-100 mb-3">
    <div>
      <h2 class="mb-4 headline">Headline goes here</h2>
      <h3 class="cost">Total Cost $168</h3>
    </div>
    <button type="button" class="btn btn-primary" style="margin-right: 130px;">ADD DRIVER
      <span class="icon-wrapper"><img src="assets/img/home/add-driver-button-icon.png" alt="" style="height: 30px; width: 30px;"></span>
    </button>
  </div>

  <form (ngSubmit)="onSubmit()" #driverForm="ngForm" style="width: 1200px;">
    <div class="row mb-3 g-3 justify-content-center">
      <!-- First column of fields -->
      <div class="col-md-4">
        <div class="form-group mb-3">
          <label for="firstNameDriver">First Name</label>
          <input type="text" class="form-control" id="firstNameDriver" placeholder="Enter First Name" [(ngModel)]="driverDetails.firstName" name="firstNameDriver" required>
        </div>
        <div class="form-group mb-3">
          <label for="lastNameDriver">Last Name</label>
          <input type="text" class="form-control" id="lastNameDriver" placeholder="Enter Last Name" [(ngModel)]="driverDetails.lastName" name="lastNameDriver" required>
        </div>
        <div class="form-group mb-3">
          <label for="gender">Gender</label>
          <select class="form-control" id="gender" [(ngModel)]="driverDetails.gender" name="gender" required>
            <option value="">Select Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
        <!-- Date of BIRTHDAY -->
        <div class="form-group mb-3">
          <label for="dateOfBirth">Date of Birth</label>
          <div class="d-flex">
            <!-- Day dropdown -->
            <ng-select class="form-control mr-1" id="birthDay" [(ngModel)]="driverDetails.birthDay" name="birthDay" [items]="days" bindLabel="day" bindValue="day" placeholder="Day" [searchable]="false">
            </ng-select>

            <!-- Month dropdown -->
            <ng-select class="form-control mx-1" id="birthMonth" [(ngModel)]="driverDetails.birthMonth" name="birthMonth" [items]="months" bindLabel="month" bindValue="month" placeholder="Month" [searchable]="false">
            </ng-select>

            <!-- Year dropdown -->
            <ng-select class="form-control ml-1" id="birthYear" [(ngModel)]="driverDetails.birthYear" name="birthYear" [items]="years" bindLabel="year" bindValue="year" placeholder="Year" [searchable]="false">
            </ng-select>
          </div>
        </div>
        <div class="form-group mb-3">
          <label for="numberSSN">SSN last four digits</label>
          <input type="text" class="form-control" id="numberSSN" placeholder="Enter SSN last 4 digits" [(ngModel)]="driverDetails.ssnLastFourDigits" name="numberSSN" required>
        </div>
        <div class="form-group mb-3">
          <label for="emailAddress">Email Address(es)</label>
          <input type="email" class="form-control" id="emailAddress" placeholder="Enter Email Addresses" [(ngModel)]="driverDetails.emailAddress" name="emailAddress" required>
        </div>
      </div>

      <!-- Second column of fields -->
      <div class="col-md-4">
        <div class="form-group mb-3">
          <label for="mobilePhone">Mobile Phone</label>
          <input type="tel" class="form-control" id="mobilePhone" placeholder="Enter Phone Number" [(ngModel)]="driverDetails.mobilePhone" name="mobilePhone" required>
        </div>
        <div class="form-group mb-3">
          <label for="paidBy">Paid by</label>
          <input type="text" class="form-control" id="paidBy" placeholder="Select payment" [(ngModel)]="driverDetails.paidBy" name="paidBy" required>
        </div>
        <div class="form-group mb-3">
          <label for="numberCDI">CDI number</label>
          <input type="text" class="form-control" id="numberCDI" placeholder="Enter CDI State" [(ngModel)]="driverDetails.cdiNumber" name="numberCDI" required>
        </div>
        <div class="form-group mb-3">
          <label for="numberCDL">CDL number</label>
          <input type="text" class="form-control" id="numberCDL" placeholder="Enter CDL State" [(ngModel)]="driverDetails.cdlNumber" name="numberCDL" required>
        </div>

        <!-- Select issue date -->
        <div class="form-group mb-3">
          <label for="issueDate">Select CDL issue date</label>
          <div class="d-flex">
            <!-- Day dropdown -->
            <ng-select class="form-control mr-1" id="issueDateDay" [(ngModel)]="driverDetails.issueDateDay" name="issueDateDay" [items]="days" bindLabel="day" bindValue="day" placeholder="Day" [searchable]="false">
            </ng-select>

            <!-- Month dropdown -->
            <ng-select class="form-control mx-1" id="issueDateMonth" [(ngModel)]="driverDetails.issueDateMonth" name="issueDateMonth" [items]="months" bindLabel="month" bindValue="month" placeholder="Month" [searchable]="false">
            </ng-select>

            <!-- Year dropdown -->
            <ng-select class="form-control ml-1" id="issueDateYear" [(ngModel)]="driverDetails.issueDateYear" name="issueDateYear" [items]="years" bindLabel="year" bindValue="year" placeholder="Year" [searchable]="false">
            </ng-select>
          </div>
        </div>

        <div class="form-group mb-3">
          <label for="primaryAddress">Primary Address</label>
          <input type="text" class="form-control" id="primaryAddress" placeholder="Enter Primary Address" [(ngModel)]="driverDetails.primaryAddress" name="primaryAddress" required>
        </div>
      </div>

      <!-- Third column of fields -->
      <div class="col-md-4">
        <div class="form-group mb-3">
          <label for="primaryState">Primary State</label>
          <input type="text" class="form-control" id="primaryState" placeholder="Enter Primary State" [(ngModel)]="driverDetails.primaryState" name="primaryState" required>
        </div>
        <div class="form-group mb-3">
          <label for="primaryPostalCode">Primary Postal Code</label>
          <input type="text" class="form-control" id="primaryPostalCode" placeholder="Enter Primary Postal Code" [(ngModel)]="driverDetails.primaryPostalCode" name="primaryPostalCode" required>
        </div>
        <div class="form-group mb-3">
          <label for="beneficiaryName">Beneficiary Name</label>
          <input type="text" class="form-control" id="beneficiaryName" placeholder="Enter Primary Beneficiary Name" [(ngModel)]="driverDetails.beneficiaryName" name="beneficiaryName" required>
        </div>
        <div class="form-group mb-3">
          <label for="relationhipEntry">Relationship</label>
          <input type="text" class="form-control" id="relationhipEntry" placeholder="Enter Relationship" [(ngModel)]="driverDetails.relationship" name="relationship" required>
        </div>
        <div class="form-group mb-3">
          <label for="beneficiaryPhone">Beneficiary Phone</label>
          <input type="tel" class="form-control" id="beneficiaryPhone" placeholder="Enter Primary Beneficiary Phone" [(ngModel)]="driverDetails.beneficiaryPhone" name="beneficiaryPhone" required>
        </div>
        <div class="form-group mb-3">
          <label for="typeOfVehicle">Type of Vehicle/Loads</label>
          <input type="text" class="form-control" id="typeOfVehicle" placeholder="Enter Type of Vehicle" [(ngModel)]="driverDetails.typeOfVehicle" name="typeOfVehicle" required>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="d-flex justify-content-between mt-4">
        <button routerLink="/company-details" type="button" class="btn btn-outline-secondary">Go Back</button>
        <button type="submit" class="btn btn-primary">Next Step</button>
      </div>
    </div>
  </form>
  <hr>

  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
</div>
