<div class="container-fluid px-4 py-5 bg-blue">
    <div class="row align-items-center g-6 py-2">
      <!-- Text column to take up 7 parts of the grid -->
      <div class="col-12 col-lg-5 text-end">
        <h1 class="display-3 fw-bold text-black lh-1 mb-3">Forget Everything You Know About Insurance</h1>
        <p class="display-6 lead text-black">Instant everything. Incredible prices. Big heart.</p>
      </div>
      <!-- Image column to take up 5 parts of the grid -->
      <div class="col-12 col-lg-5">
        <img src="assets/img/primary-home-img.png" class="img-fluid" alt="Ekora Insurance" loading="lazy">
      </div>
    </div>
  </div>
  