<div class="container-fluid px-4 py-5 bg-blue">
    <div class="row align-items-center g-6 py-2">
      <!-- Text column to take up 7 parts of the grid -->
      <div class="col-12 col-lg-5 text-end">
        <h1 class="display-3 fw-bold text-black lh-1 mb-3" style="font-size: 48px;">Forget Everything You Know About Insurance</h1>
        <p class="display-6 lead text-black">Instant everything. Incredible prices. Big heart.</p>
      </div>
      <!-- Image column to take up 5 parts of the grid -->
      <div class="col-12 col-lg-5">
        <img src="assets/img/home/primary-home-img.png" class="img-fluid" alt="Ekora Insurance" loading="lazy">
      </div>
    </div>
</div>

<!-- Button Enroll for Occupation-->
<div class="container-fluid" *ngIf="!modalVisible">
  <div class="row justify-content-center">
    <div class="col-3 text-center position-relative" style="margin-top: -40px;">
      <button (click)="toggleModal()" class="btn custom-btn-size fw-bold custom-btn-color d-flex align-items-center justify-content-center">
        <span class="icon-wrapper"><img src="assets/img/home/click-button-icon.png" alt="" style="height: 30px; width: 30px;"></span>
        <span class="text-wrapper">
          <span>ENROLL FOR</span>
          <span style="display: block;">OCCUPATION ACCIDENT</span>
        </span>
      </button>
    </div>
  </div>
</div>

<!-- Button after click -->
<div @fadeInOut class="modal modal-sheet position-static d-block p-4 py-md-5" tabindex="-1" role="dialog" *ngIf="modalVisible" id="modalAfterClick" style="max-height: 500px; background-color: transparent; margin-top: -210px; overflow: hidden;">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header px-5 pb-4 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-3 pl-4">Select your type of search</h1>
      </div>
      <div class="modal-body pt-0">
        <form class="">
          <div class="mb-3 d-flex justify-content-between button-group">
            <button type="button" class="btn custom-btn" [ngClass]="{'selected': isMcmxSelected}" (click)="selectButton('MC/MX', $event)">MC/MX</button>
            <button type="button" class="btn custom-btn" [ngClass]="{'selected': isUsdotSelected}" (click)="selectButton('USDOT', $event)">USDOT</button>
            <button type="button" class="btn custom-btn" [ngClass]="{'selected': isNameSelected}" (click)="selectButton('COMPANY NAME', $event)">COMPANY NAME</button>
          </div>
          
          <!-- Code Input -->
          <div class="form-floating mb-2">
            <input type="text"
                  placeholder="Enter number/name"
                  class="form-control rounded-3 px-4"
                  id="floatingInput"
                  [(ngModel)]="mcmxNumber"
                  name="mcmxNumber" 
                  [(ngModel)]="usdotNumber"
                  name="usdotNumber" 
                  [(ngModel)]="nameSearch"
                  name="nameSearch" 
                  (focus)="onInputFocus()"
                  required> <!-- HTML5 validation to ensure the field is not empty -->
          </div>
          <!-- Next Button -->
          <button class="w-100 btn btn-lg rounded-3 btn-primary" type="button" [disabled]="!mcmxNumber" (click)="onNextClick()">NEXT</button>
          <small style="color: #ffffff;">By clicking Next, you agree to the terms of use.</small>
          <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Second part of land page -->
<div class="container-fluid px-4 py-5 bg-white">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="display-3 fw-bold text-black lh-1 mb-3" style="font-size: 48px;">Features of Ekora</h1>
    </div>
  </div>

  <div class="row align-items-center g-6 py-5">
    <div class="col-12 col-lg-5">
      <img src="../../../assets/img/home/second-home-img.png" class="img-fluid" alt="Ekora insurance" loading="lazy">
    </div>
    <div class="col-12 col-lg-4 text-left">
      <p class="lead text-black mb-4"style="font-size: 25px; letter-spacing: 2px; line-height: 1;">At EKORA, we understand the risks and challenges associated with various professions. That's why we've tailored our Occupational Insurance plans to provide comprehensive coverage that meets the unique needs of your business and your employees.</p>
    </div>
  </div>

</div>


<!-- third part of land page -->
<div class="ad-container">
  <h1>What makes EKORA one of USA's favorite places to insure driver?</h1>
  <div class="cards-container">
    <div class="card" *ngFor="let card of cards">
      <h3 class="fw-bold">{{ card.headline }}</h3>
      <p>{{ card.description }}</p>
      <img src="{{ card.icon }}" alt="Icon">
    </div>
  </div>
</div>

<!-- fourth part -->
<div class="px-4 py-5 my-5 text-center">
  <img src="assets/img/logo-company-black.png" width="142" height="37" alt="Company Logo" style="margin-bottom: 20px;">
  <h1 class="display-5 fw-bold text-body-emphasis" style="margin-top: 30px; margin-bottom: 20px;">Why Choose EKORA?</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Choosing EKORA for your Occupational Insurance needs means partnering with a provider that stands for reliability and comprehensive support. Our dedicated team is committed to ensuring that both you and your employees are well protected so that you can focus on what you do best—running your business.
    <br><br> Ensure your employees are protected and your business is secured. Contact EKORA today to find out how our Occupational Insurance can be tailored to meet your specific business needs.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button routerLink="/" type="button" class="btn btn-primary btn-lg px-4 gap-3">Home page</button>
    </div>
  </div>
</div>
